.mainformwrapper {
  color: var(--mainRed);
  justify-content: center;
}

.mainformwrapper h2 {
  font-size: var(--baseFontSizeH2);
  text-align: center;
}

.addproductform {
  text-align: center;
}

.formcontentwrapper {
  margin-bottom: 1.5rem;
  text-align: center;
}

.formcontentwrapper label {
  display: block;
  margin-top: 1rem;
  font-size: var(--baseFontSizep);
  font-weight: bold;
}

.formcontentwrapper input {
  border-radius: 5px;
}
