.productItemContent img {
  max-width: 250px;
  border-radius: 15px;
  height: auto;
}

.labeltext,
.productInfo {
  font-size: var(--baseFontSizeH3);
  margin: 0;
  line-height: 1.4;
}

.productInfo {
  font-weight: bold;
}

.addToCartButton button {
  margin-bottom: 1rem;
}

.addToCartButton {
  text-align: center;
}

/*
-------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------
*/

.productcontentwrapper {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    ". . closeButton"
    ". productItemContent ."
    ". addToCartButton .";
}

.productItemContent {
  grid-area: productItemContent;
}

.closeButton {
  grid-area: closeButton;
}

.addToCartButton {
  grid-area: addToCartButton;
}