.counter {
  color: var(--mainRed);
  font-size: calc(var(--baseFontSizep) * 1.5);
}

.total {
  color: var(--mainRed);
  font-size: calc(var(--baseFontSizep) * 1.5);
}

.itemlist {
  color: var(--mainRed);
  font-size: calc(var(--baseFontSizep) * 1.5);
  /* Disable user-agent stylesheet settings */
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.listitem {
  list-style-type: none;
  font-size: var(--baseFontSizep);
}

span {
  color: black;
}
