.mainlayout {
  background-color: #56a08a;
}

/*
-------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------
*/

.mainlayout {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;
  grid-template-areas:
    ". productformarea productformarea productcounterarea"
    "productgridarea productgridarea productgridarea productgridarea";
}

.productformarea {
  grid-area: productformarea;
}

.productcounterarea {
  grid-area: productcounterarea;
}

.productgridarea {
  grid-area: productgridarea;
}
