main {
  justify-items: center;
  justify-content: center;
  display: grid;
}

/*
-------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------
*/

.dummyproductsLoader {
  grid-area: dummyproductsLoader;
}

.productformarea {
  grid-area: productformarea;
}

.productcounterarea {
  grid-area: productcounterarea;
}

.productgridarea {
  grid-area: productgridarea;
}

/*
-------------------------------------------------------------------------------
Responsiveness
-------------------------------------------------------------------------------
*/

@media only screen and (max-width: 340px) {
  main {
    padding: 7rem 3rem 2rem;
  }
}

@media only screen and (min-width: 340px) {
  main {
    padding: 9.3rem 2rem 2rem;
  }
}

@media only screen and (max-width: 600px) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "productformarea"
      "dummyproductsLoader"
      "productcounterarea"
      "productgridarea ";
  }

  .dummyproductsLoader,
  .productcounterarea {
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 600px) {
  main {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "productformarea productcounterarea"
      "dummyproductsLoader productcounterarea"
      "productgridarea productgridarea";
  }

  .productcounterarea {
    padding-right: 30px;
  }

  .dummyproductsLoader {
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  main {
    padding: 9.3rem 2rem 2rem;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "dummyproductsLoader productformarea productcounterarea"
      "productgridarea productgridarea productgridarea";
  }
}

@media only screen and (min-width: 992px) {
  main {
    padding: 9.3rem 2rem 2rem;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: auto auto;
    grid-template-areas:
      "dummyproductsLoader productformarea productformarea productcounterarea"
      "productgridarea productgridarea productgridarea productgridarea";
  }
}

@media only screen and (min-width: 1300px) {
  main {
    padding: 9.3rem 2rem 2rem;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw;
    grid-template-rows: auto auto;
    grid-template-areas:
      "dummyproductsLoader productformarea productformarea productformarea productformarea productcounterarea"
      "productgridarea productgridarea productgridarea productgridarea productgridarea productgridarea";
  }
}
