.button {
  padding: 0.2rem;
  outline: auto;
  cursor: pointer;
}

.submit {
  background-color: greenyellow;
  color: darkgreen;
}

.remove {
  background-color: pink;
  color: red;
}

.mark {
  background-color: white;
  color: blue;
}

.usual {
  background-color: lightblue;
  color: blue;
}
