.button {
  padding: 0.2rem;
  outline: auto;
  cursor: pointer;
  padding: 0.5rem;
}

.submit {
  background-color: var(--mainLightBlue);
  color: var(--mainBorderBlue);
  font-size: var(--baseFontSizep);
  font-weight: bold;
}

.remove {
  background-color: var(--lightPink);
  color: var(--mainRed);
}

.mark {
  background-color: white;
  color: var(--mainBorderBlueSolid);
}

.usual {
  background-color: var(--mainLightBlue);
  color: var(--mainBorderBlue);
  font-size: var(--baseFontSizep);
  font-weight: bold;
}
